<%= render 'shared/navbar' %>
  <div class="container">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <h1>Create Event</h1>
        <%= render "form", booking: @booking %>
      </div>
  </div>
