<h2>Your contacts from Gmail</h2>

<% if !@contacts.nil?%>
  <% @contacts.each do |contact|%>
  <ul>
    <li><%= contact.name%> :  <%= contact.email %> / <%= contact.phone_number%></li>
    <%= link_to contact_path(contact), method: :delete do %>
              <i class="fas fa-trash"></i>
              <%end%>
  </ul>
  <%end%>
<%end%>
